body {
  background-color: black;
  color: white;
}
hr {
  border:none; border-top: dotted; border-bottom: none;
  border-color: white;
  border-width: 5px;
  width: 10%;}
h1{
  color: brown;
  letter-spacing: 10.0px;
  font-style: italic;
}
h2 {
  color: blue;
}
h3 {
  color: purple;
}
